# Minio, also adjust in backend/api-gateway/.env
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=audio_db

# Separation Worker
MODELS_DIR=./models
REDIS_HOST=redis
REDIS_PORT=6379
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_DEFAULT_BUCKET=audio
DATABASE_URL="postgresql://postgres:<POSTGRES_PASSWORD>@postgres:5432/<POSTGRES_DB>?schema=public"